* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

article, aside, section, header {
  display: block; }

nav {
  color: #173363;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.35);
  position: fixed;
  width: 100%;
  background: #fff;
  overflow: hidden;
  top: 0; }
  nav section {
    padding: 10px 2.5%;
    font-weight: 900;
    display: inline-block; }
    nav section img {
      height: 20px; }
      nav section img#ologo {
        height: 15px; }
    nav section .plus {
      font-weight: bold;
      opacity: 0; }
    nav section #ologo {
      opacity: 0; }
    nav section#title {
      text-align: right;
      position: absolute;
      right: 15%;
      color: #00abee;
      background: #173363; }
      nav section#title h1 {
        font-size: 16px;
        line-height: 13px;
        font-weight: 500; }
      nav section#title h2 {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.235em; }
    nav section#menu-icon {
      float: right;
      width: 15%;
      height: 44px;
      border-left: 1px solid #00abee;
      background: #173363;
      padding: 11px 3%; }
      nav section#menu-icon .bar {
        background: #00abee;
        height: 2px;
        margin-bottom: 8px; }

header {
  background: black url(../img/title-frame_blue.jpg) 50% 50% no-repeat;
  background-size: cover;
  margin-top: 44px; }
  header article {
    color: #fff; }
    header article#intro {
      background: rgba(0, 0, 0, 0.35) url(../img/batman_75_years_logo.png) 50% 50px no-repeat;
      background-size: 150px auto;
      padding: 150px 9% 60px;
      text-transform: uppercase;
      text-align: center; }
      header article#intro h1 {
        font-size: 2em;
        margin-bottom: 20px; }
      header article#intro h2 {
        font-size: 1.125em;
        line-height: 1.5em; }
      header article#intro aside {
        font-size: 0.9em;
        margin-top: 1em; }
        header article#intro aside span {
          font-size: 0.5em;
          padding-right: 0.25em; }
    header article#start {
      color: #6C7D84;
      background: #000;
      background: rgba(0, 0, 0, 0.625);
      padding: 30px 9%;
      line-height: 1.5em; }
      header article#start p {
        padding-bottom: 15px; }
  header:hover {
    background: url(../img/title-frame_red.jpg) 50% 50% no-repeat;
    background-size: cover; }

.copy {
  padding: 2em; }
  .copy p {
    margin-bottom: 1em; }
    .copy p.start {
      font-weight: 700; }
  .copy ul li {
    list-style: none;
    background: #eee;
    padding: 2%; }

@media (min-width: 480px) {
  nav section .plus,
  nav section #ologo {
    opacity: 1; }
  nav section#title {
    right: 54px; }
  nav section#menu-icon {
    width: 54px;
    padding: 11px 13px; } }
@media (min-width: 700px) {
  header article {
    padding: 150px 10em 60px; }

  .copy ul li {
    display: inline-block;
    width: 30%;
    margin-left: 1%; } }
