*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
}
html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,*:before,*:after{
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
nav{
	color: #173363;
	text-transform: uppercase;
	-webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,.35);
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.35);
	position: fixed;
	// display: block;
	width: 100%;
	background: #fff;
	overflow: hidden;
	top: 0;

	section{
		padding: 10px 2.5%;
		font-weight: 900;
		display: inline-block;

		img{
			height: 20px;

			&#ologo{
				height: 15px;
			}
		}
		.plus{
			font-weight: bold;
			opacity: 0;
		}
		#ologo{
			opacity:0;
		}
		&#title{
			text-align: right;
			position: absolute;
			// right: 54px;
			right: 15%;
			color: #00abee;
			background: #173363;

			h1{
				font-size: 16px;
				line-height: 13px;
				font-weight: 500;
			}
			h2{
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 0.235em;
			}
		}
		&#menu-icon{
			float: right;
			// width: 54px;
			width: 15%;
			height: 44px;
			border-left: 1px solid #00abee;
			// border-width: 1px;
			// border-style: solid;
			// border-color: #173363 #173363 #0d669e  #00abee;
			background: #173363;
			// padding: 11px 13px;
			padding: 11px 3%;

			.bar{
				background: #00abee;
				height: 2px;
				margin-bottom: 8px;
			}
		}
	}
}
header{
	background: #000 url(../img/title-frame_blue.jpg) 50% 50% no-repeat;
	background-size: cover;
	margin-top: 44px;

	article{
		background: rgba(0,0,0,0.35) url(../img/batman_75_years_logo.png) 50% 50px no-repeat;
		background-size: 150px auto;
		color: #fff;
		padding: 150px 130px 60px;
		text-transform: uppercase;
		text-align: center;

		h1{
			font-size: 2em;
			margin-bottom: 20px;
		}
		h2{
			font-size: 1.125em;
			line-height: 1.5em;
		}
		aside{
			font-size: 0.9em;
			margin-top: 1em;

			span{
				font-size: 0.5em;
				padding-right: 0.25em;
			}
		}
	}
	&:hover{
		background: url(../img/title-frame_red.jpg) 50% 50% no-repeat;
		background-size: cover;
	}
}
.copy{
	padding: 2em;

	p{
		margin-bottom: 1em;

		&.start{
			font-weight: 700;
		}
	}
	ul{

		li{
			list-style: none;
			display: inline-block;
			width: 30%;
			margin-left: 1%;
			background: #eee;
			padding: 2%;
		}
	}
}

@media(min-width:480px){
	nav{

		section{

			.plus,
			#ologo{
				opacity:1;
			}
			&#title{
				right: 54px;
			}
			&#menu-icon{
				width: 54px;
				padding: 11px 13px;
			}
		}
	}
}

// desktop
@media(min-width:700px){	@import "parts/_desktop.scss";	}