*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}
nav{
	border-bottom: solid 2px #173363;
	color: #173363;
	text-transform: uppercase;

	section{
		padding: 10px;
		font-weight: 900;
		display: inline-block;

		img{
			height: 20px;
			
			&#ologo{
				height: 15px;
			}
		}
		&#title{
			text-align: right;
			/*float: right;*/
			position: absolute;
			right: 55px;

			h1{
				font-size: 16px;
				line-height: 13px;
				font-weight: 500;
			}
			h2{
				font-size: 12px;
				font-weight: 400;
			}
		}
		&#menu-icon{
			float: right;
			width: 54px;
			height: 44px;
			/*border: solid 1px #333;*/
			/*background: #000;*/
			background: #ACC4EC;
			padding: 11px 13px;

			.bar{
				/*width: 100%;*/
				background: #fff;
				/*height: 4px;*/
				/*margin-bottom: 6px;*/
				height: 2px;
				margin-bottom: 8px;
			}
		}
	}
}
header{
	background: #3d73d1 url(../img/batman_75_years_logo.png) 50% 20px no-repeat;
	background-size: 180px auto;
	color: #fff;
	padding: 115px 10px;
	text-transform: uppercase;
	text-align: center;

	// img{
	// 	width: 180px;
	// 	margin:0 auto;
	// 	text-align: center;
	// }

}

// desktop
