
header{

	article{
		padding: 150px 10em 60px;

		aside{

		}
	}
}
#belt{

	ul{

		li{
			display: inline-block;
			vertical-align: top;
			// width: 33.3%;
			width: 32%;
			// margin-left: 1%;

			&.next{
				width: 1.3%;
				height: 100%;
				position: absolute;
				right: 0;
				color: white;
				background: #e6a84c;
			}
		}
	}
}